.app {
  align-items: center;
}

* {
  box-sizing: border-box;
}

:root {
  --header-background-color: rgb(40, 44, 52);
  --main-background-color: rgb(56, 61, 72);
  --border-color: #ffffff20;
}

/* Styling for Header component */
header {
  background-color: var(--header-background-color);
  height: 10vh;
  width: 100vw;
  min-width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2rem;
}

header > .socials {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

header > .socials > a, header > a {
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

header > .socials > a:hover {
  color: lightgray;
  transform: scale(1.1);
}

/* Styling for Carousel */
.carousel {
  overflow: hidden;
}

.carousel-inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

/* Styling for Projects component */

.project-container {
  background-color: var(--main-background-color);
  min-height: 90vh;
  width: '100%';
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.project-container > .title {
  width: 100vw;
  height: 10vh;
  border: solid 1px var(--border-color);
  border-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 1rem;
}

.project-container > .title > .nav-button {
  all: unset;
  text-align: center;
  height: 100%;
  font-size: x-large;
  flex-basis: 20%;
  padding: none;
  background-color: var(--main-background-color);
  color: white;
}

.project-container > .title > .nav-button:hover {
  cursor: pointer;
}

#nav-button-left {
  border-right: solid 1px var(--border-color)
}

#nav-button-right {
  border-left: solid 1px var(--border-color)
}

.project-content {
  display: flex;
  justify-content: center;
}

.project-content > .images {
  width: 50vw;
  min-height: 60vh;
  border: solid 1px var(--border-color);
  border-right: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.project-content > .images > .project-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  margin: 10px;
}

.project-content > .description {
  width: 50vw;
  height: 80vh;
  min-height: 70vh;
  border: solid 1px var(--border-color);
  color: white;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  white-space: initial;
  overflow: scroll;
}

.project-content > .description > a {
  all: unset;
  min-width: max-content;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.project-content > .description > a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project-content > .description > a > img {
  height: 50px;
  color: white;
}

.project-content > .description > a > #github {
  height: 50px;
  color: white;
}

.project-content > .description > a > p {
  align-self: center;
}

@media (max-width: 480px) {
  .project-content {
    flex-direction: column;
  }
  .project-content > .images {
    width: 100vw;
    min-height: 40vh;
    border-right: solid 1px var(--border-color);
    border-bottom: 0;
  }
  .project-content > .description {
    width: 100vw;
    min-height: 60vh;
  }
}
