.app {
  align-items: center;
}

* {
  box-sizing: border-box;
}

:root {
  --background: rgb(40, 44, 52);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

a, p, span, li {
  font-family: "Helvetica", sans-serif;
}

/* Styling for Header component */
header {
  background-color: var(--background);
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2rem;
  border-bottom: solid 1px #ffffff20;
}

header > .header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  width: fit-content;
}

.dropdown-content {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  min-width: fit-content;
  margin-top: 10vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--background);
}

.dropdown-content > .links {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-content > .links > a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.dropdown-content > .links > a:hover {
  transform: scale(1.1);
  color: lightgray;
}

.dropdown-content > .links > button {
  all: unset;
  font-size: 14px;
}

.dropdown-content > .links > button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: lightgray;
}

header > .header-menu > button {
  all: unset;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

header > .header-menu:hover > button {
  color: lightgray;
  transform: scale(1.1);
}

header > .header-menu:hover {
  padding-right: 3rem;
}

header > .header-menu:hover .dropdown-content {
  display: flex;
}

header > p {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: fit-content;
}

header > .socials {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  margin-right: 1rem;
}

header > .socials > a {
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

header > .socials > a:hover {
  color: lightgray;
  transform: scale(1.1);
}

/* Styling for Carousel */
.carousel {
  overflow: hidden;
}

.carousel-inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

/* Styling for Projects component */

.project-container {
  min-height: 90vh;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.project-container > .title {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project-container > .title > h3 {
  color: var(--background);
  font-weight: bold;
}

.project-container > .title > .nav-button {
  all: unset;
  height: 100%;
  font-size: x-large;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.2s ease-out;
}

.project-container > .title > .nav-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.project-content {
  display: flex;
  justify-content: center;
}

.dots-container {
  display: none;
  border-bottom: none;
  border-top: none; 
  height: 3vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  opacity: 0.2;
  font-size: calc(2vh);
}

.project-content > .images {
  width: 50vw;
  min-height: 60vh;
  border-right: 0;
  border-top: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.project-content > .images > .project-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  margin: 10px;
}

.project-content > .description {
  width: 50vw;
  height: 80vh;
  min-height: 70vh;
  border-top: none;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  white-space: initial;
  overflow: scroll;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-content > .description > a {
  all: unset;
  min-width: max-content;
  min-height: max-content;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  text-decoration: none;
  margin-top:20px;
  background-color: var(--background);
  color: white;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  font-size: calc(8px + 1vh)
}

.project-content > .description > a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project-content > .description > a > img {
  height: 40px;
}

.project-content > .description > a > #github {
  height: 40px;
}

.project-content > .description > a > p {
  align-self: center;
}

@media (max-width: 480px) {
  header > .socials {
    gap: 1rem;
  }

  .dots-container {
    display: flex;
  }
  .project-content {
    flex-direction: column;
  }

  .project-container > .title {
    justify-content: center;
  }

  .project-container > .title > .nav-button {
    display: none;
  }

  .project-content > .images {
    width: 100vw;
    min-height: 40vh;
  }
  .project-content > .description {
    width: 100vw;
    min-height: 60vh;
  }
}
