* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(14, 47, 125, 0.7);
  --secondary-color: rgba(125, 36, 14);
  --tertiary-color: rgba(103, 125, 14, 0.7);
  --border-color: rgb(60, 60, 60);
}

h1, h2, h3, h4, h5, h6, a, p, span, li {
  font-family: "Roboto", sans-serif;
}

/* Styling for filler panel for desktop view */
.filler-container {
  display: none;
}

/* Styling for home page */
.home-container {
  display: flex;
  flex-direction: column;
}

.main-content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Styling for navigation bar */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-container > img {
  height: 50px;
  width: 50px;
  padding: 0.5rem;
}

.nav-container > .navicon {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: x-large;
}

/* Styling for introduction section */

.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  padding-bottom: 3rem;
}

.introduction-container > img {
  height: 100px;
  width: 100px;
  margin-bottom: 75px;
  border-radius: 50%;
  background-color: var(--primary-color)
}

.introduction-container > .introduction-text {
  text-align: center;
  padding: 3rem;
  color: var(--secondary-color)
}

.introduction-text > p {
  font-size: 18px;
  color: black;
}

/* Stlying for more info section */
.more-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.devices-image {
  width: 80%;
  max-width: 80%;
  aspect-ratio: 2.5/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.more-info-content {
  background-color: var(--primary-color);
  width: 100%;
  height: fit-content;
  color: white;
}

.more-info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
}

.more-info-text > p {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Styling for experience section */
.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 80%;
  min-height: fit-content;
  border: solid 1px var(--border-color);
  background-color: white;
  transform: translateY(-5%);
}

#frontend-card {
  border-radius: 4px 4px 0px 0px;
}

#backend-card {
  border-radius: 0px 0px 4px 4px;
}

.experience-icon {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  border-radius: 50%;
  margin-top: 2rem;
}

.experience-text {
  padding-left: 3rem;
  padding-right: 3rem;
}

.languages-container {
  font-size: 0.9rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

.languages-container > h3 {
  color: var(--primary-color);
}

/* Styling for projects */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.projects-text {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 250px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

/* Styling changes for when screen is wider than 480px (desktop view) */

@media (min-width: 480px) {
  .home-container {
    flex-direction: row;
  }

  .nav-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-right: solid 1px var(--border-color);
  }

  .main-content-container {
    width: 70vw;
    overflow: scroll;
    margin-left: 20vw;
  }

  .introduction-container > img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
  }

  .devices-image {
    max-width: 500px;
  }

  .experience-container {
    flex-direction: row;
    justify-content: center;
  }

  .experience-card {
    width: 300px;
    height: 480px;
  }

  #frontend-card {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
  }

  #backend-card {
    border-radius: 0px 4px 4px 0px;
  }

  .filler-container {
    display: flex;
    width: 10vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-left: solid 1px var(--border-color);
  }
}